.newsBox {
    .ad img {
        width: 100%;
    }

    .news {
        background: #fff;
        padding: 18px 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

        .boxNews {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .titleHead {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            h3 {
                font-size: 16px;
                color: #b20000;
                text-transform: uppercase;
                font-weight: 700;
            }
            a {
                text-decoration: none;
                font-size: 14px;
                color: #000;
                line-height: 1.6;

                &:hover {
                    color: #3399d2;
                }
            }
        }

        .boxItem {
            display: flex;
            align-items: center;
            gap: 10px;
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .boxItemImg {
            width: 80px;
            height: 44px;
            object-fit: cover;

            @media (max-width: 768px) {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .boxItemContent {
            text-decoration: none;
            font-size: 14px;
            line-height: 1.4;
            color: #1f1f1f;

            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}
