.categories {
    background-color: #f3f3f3;
    padding: 10px 16px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.containerBox {
    display: flex;
    flex-wrap: wrap; /* Để các item xuống dòng khi không đủ chỗ */
    gap: 8px; /* Khoảng cách giữa các item */
}

.title {
    margin-bottom: 8px;
}

.item {
    background-color: #f0f0f0; /* Màu nền nhạt */
    color: #333; /* Màu chữ tối */
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer; /* Hiển thị con trỏ chuột khi hover (nếu là button) */
    border: 1px solid #000; /* Viền mỏng */

    /* Thêm style khi hover nếu cần */
    &:hover {
        border-color: #3399d2;
        background-color: #3399d2;
        color: #fff;
    }
}
